# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
mpy-cross/build/*
ports/esp32/build/*
ports/esp32/build-GALDEANO/*
ports/esp32/build-GENERIC_SPIRAM/*
ports/esp32/build-M5CORE2/*
lib/lv_bindings/pycparser/pycparser/__pycache__/*
lib/lv_bindings/pycparser/pycparser/ply/__pycache__/*
py/__pycache__/*
ports/esp32/build-GALDENANO/CMakeFiles/cmake.check_cache
lib/lv_bindings/pycparser/pycparser/ply/__pycache__/yacc.cpython-38.pyc
